/* Write your CSS here */
.link-home {
  text-decoration: none;
}

.home-background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
}

.home-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  height: 55px;
  margin-right: 10px;
}

.dashboard-heading {
  color: #ffffff;
  font-size: 55px;
  font-family: 'Bree Serif';
  font-weight: bold;
}

.team-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
